//lp9.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.5dd19526-379c-4e92-a5ab-39b678c0db44/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@rapidlearn:registry=https://lp9.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.5dd19526-379c-4e92-a5ab-39b678c0db44/contents/release/npm/
